.Button {
    font-size: 14px;
    align-self: center;
    border-radius: 10px;
    border-color: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
    background-color: var(--button);
    color: var(--text);
  }
  

  .Wide {
    padding: 10px 50px;
    width: 100%;
  }

  .Button:hover {
    background-color: var(--button_hover);
  }
  
