.Form {
    border: none;
    border-bottom: 1px #a1a5a6 solid;
    background-color: var(--input);
  
  }
  
  /* .addImage {
    font-size: 10px;
    text-align: center;
  } */

  .addInsp {
    font-size: 14px;
    text-align: left;
    padding-bottom: 20px;

    
  }

.PostButton {
  margin: 5px;
  
}