.Form {
    border: none;
    border-bottom: 1px var(--border) solid;
    background-color: var(--input);
  }
  
  .formBox {
    border: 1px var(--border) solid;
    padding: 10px;
    width: 100%;
    /* background-color: var(--card); */
  }
  .addInsp {
    font-size: 14px;
    text-align: left;
    padding-bottom: 20px;
    color: var(--credit)
  }

.PostButton {
  margin: 5px;
}

.Icon {
  color: var(--button);
}
.IconOutline {
  color: var(--nav_button)
}
.Icon:hover {
  color: var(--button_hover);
}
.IconOutline:hover {
  color: var(--button_hover);
}