.Container {
  min-height: 343px;
}

.Input {
  margin-bottom: 5px;
  font-size: 14px;
  color: var(--text);

}

.Input::placeholder {
  color: var(--credit);
}

.InputForm {
  color: var(--text);
  font-size: 14px;
}