.Race {
  background-color: var(--card);
  border: 1px solid var(--border);
  border-radius: 2px;
  margin-bottom: 16px;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: var(--text);
  width: 320px;
  

}

.Race figure,
h5 {
  margin: 0 0;
}
.StarIcon {
  color: #f4dc46;
  font-size: 14px;
}
.StarIconOutline {
  color: #f4dc46;
  font-size: 14px;
}
.StarIcon:hover {
  color: #f59c37;
}
.StarIconOutline:hover {
  color: #f59c37;
}


.Icon {
  color: var(--text);

}
.IconOutline {
  color: #f4dc46;
}
.Icon:hover {
  color: #f59c37;
}
.IconOutline:hover {
  color: #f59c37;
}

.raceName {
  color: var(--link);
  font-size: 20px;
}

.raceCountry {
  font-size: 20px;
  text-transform: uppercase;
}

.creadit {
  font-size: 12px;
  color: var(--credit);
}

.smallStar {
  font-size: 29px;
}

.websiteLink {
  color: var(--link)
}

.attend {
  font-size: 10px;
  /* border: 2px solid var(--border); */
  width: 100%;
  text-align: center;
}

.AttendText {
  font-size: 10px;
}