.Race {
    background-color: var(--card);
    border: 1px solid var(--border);
    border-radius: 2px;
    margin-bottom: 16px;
    font-size: 14px;
    /* color: var(--text); */
    
  }
  
  .Race figure,
  h5 {
    margin: 0 0;
  }
  
  .Icon {
    color: #f4dc46;
  }

  .IconOutline {
    color: #f4dc46;
  }
  
  .Icon:hover {
    color: #f59c37;
  }
  
  .IconOutline:hover {
    color: #f59c37;
  }

  .raceName {
    color: var(--link);
    text-transform: uppercase;
  }

  .raceCountry {
    font-size: 18px;
  }