.NavBar {
    background-color: var(--background);
    border: 1px solid var(--border);
    font-size: 14px;
}

.NavLink {
    padding: 5px;
    color: var(--nav_button);
}

.NavLink:hover {
    padding: 5px;
    color: var(--nav_button_hover);
}

.Active{
    color: var(--nav_button_active);
    
}

svg {
    font-size: 16px;
    padding: 7px;
    vertical-align: middle !important;
  }
  
svg:hover {
    cursor: pointer;
    transition: color ease-in-out 0.0s;
  }
  