.NavBar {
    background-color: var(--background);
    border: 1px solid var(--text);
}

.NavLink {
    padding: 5px;
}

.Active{
    color: var(--text)
}

svg {
    color: var(--button);
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle !important;
  }
  
svg:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: var(--button_hover);
  }
  