
.SearchInfo{
  font-size: 16px;
  margin: 5px;
  text-align: center;
  
}
.SearchInspo {
  font-size: 18px;
  text-align: center;
 
}

.SearchBar input {
    border-radius: 2px;
    color: var(--text);
    padding-left: 10px;
    margin-bottom: 16px;
    font-size: 14px;
    text-align: left;
  }
  
  .SearchIcon {
    position: absolute;
    font-size: 14px;
    padding: 9px;
    padding-left: 15px;

  }
  
  .SearchIcon:hover {
    cursor: default;
    color: #cfced3;
  }

  .Button {
    align-items: center;
  }

  .AddRace {
    border-radius: 2px;
  }

  .Checkbox {
    font-size: 12px;
    margin-top: 6px;
  }