.myRaces {
    font-size: 10px;
    text-align: center;
   letter-spacing: 1px;
   text-transform: uppercase;
    color: var(--text);
    padding: 10px;
    
 
}

.passedInfo {
}
.runsText {
    font-size: 14px;
   
}

.userLogo { 
    font-family: 'Mali', cursive;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
}