.myRaces {
    font-size: 10px;
    text-align: center;
   letter-spacing: 1px;
   text-transform: uppercase;
    font-weight: bold;
    color: var(--text);
    padding: 10px;
}

.passedInfo {

    font-size: 14px;
    color: var(--credit);
}