@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Kaushan+Script&family=Mali:wght@200&display=swap');

.Row {
  height: calc(100vh - 81px);
}

.Input {
  background: var(--input);
  border: 1px solid var(--border);
  box-sizing: border-box;
  border-radius: 2px;
  color: var(--text);
  text-align: center;
  padding: 10px;
  margin-bottom: 1.5rem;
}

.Header {
  font-style: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.1em;
  color: var(--text);
  text-decoration: none;
  display: block;
  margin: auto;
  padding: 20px;
}

.HeadText {
  text-align: center;
  color: var(--text);
  font-size: 35px;
  font-family: 'Kaushan Script', cursive;
  padding-bottom: 45px;
}

.Link {
  text-decoration: none;
  text-align: center;
  display: block;
  margin: auto;
  padding: 20px;
}

.Link span {
  color: var(--link);
}

.Container {
  padding: 30px 10px;
}

.SignInCol {
  height: 320px;
}

.SignUpCol {
  height: 375px;
}