:root {
  --background: #f6f7f8;
  --text: #3a3023;
  --nav_button_active: #f69b2c;
  --nav_button_hover: #f3751b;
  --nav_button: #67543c;
  --button: #c5ac8e;
  --button_hover: #d6d0ca;
  --button_disable: #c1c1c5;
  --border: #d6d0ca;
  --link: #098777;
  --card: #fafcfd;
  --input: #fafcfd;
  --icon: #098777;
  --credit: #c1c1c5;
}


.App {
  font-family: "Nunito Sans", "Roboto", "DM Sans", sans-serif;
  background-color: var(--background);
  min-height: 100vh;
}

.Main {
  padding-top: 100px;
}

.Content {
  background-color: var(--background);
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #dadadf;
}

.FillerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

* {
  box-sizing: border-box;
}

a {
  color: #555555;
  transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: none;
}

a:hover i {
  transition: color ease-in-out 0.3s;
}

input[type="file"] {
  display: none;
}

i {
  color: #cfced3;
  font-size: 16px;

  padding: 7px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
}

figure {
  text-align: center;
  display: inline-block;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
  background: #888;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}